// ARTIFACT GRID
// artifact-grid.scss

.artifacts {
    width:100%;
    grid-auto-rows:minmax(2.5vw, auto);
    margin-top:5rem;
    padding:1px 0;

    @media ($break-s) {
        margin-top:0;
    }
}

// Estimate at the final size of images before loading
.artifact-wrapper,
.artifact-wrapper a,
.artifact-image {
    height:100%;
    display:block;
}

.project-meta {
    grid-column:1 / span 12;
    grid-row:1;
    z-index:100;

    @media ($break-xs) {
        grid-column:1 / span 12;
    }

    @media ($break-s) {
        grid-column:1 / span 4;
    }

    @media ($break-m) {
        grid-column:1 / span 4;
    }
}

.project {
    grid-column:1 / span 12;
    grid-auto-rows:2rem;

    @media ($break-s) {
        grid-auto-rows:2.5vw;
    }

    @media ($break-xl) {
        grid-auto-rows:1.5rem;
    }
}

.artifacts .project {
    margin-bottom:30vh;
}

// .project-meta h2 {
//     // display:inline-block;
//     position:relative;
//     text-transform:uppercase;
// }

.project-meta a {
    text-decoration-line: unset;
    display:inline-block;
}

.project.grid .project-meta {
    grid-column:1 / span 12;
    grid-row: 1 / span 4;
    padding-right:1rem;

    @media ($break-s) {
        grid-column:1 / span 5;
        grid-row: 1 / span 8;
    }

    @media ($break-l) {
        grid-column:1 / span 3;
        grid-row: 1 / span 7;
    }
}


// .project-meta .project-index {
//     display:inline-block;
//     vertical-align:super;
//     padding-left:0.125rem;
// }

.artifact-image img {
    line-height:1;
    width:100%;
    max-width:100%;
}

.artifact {
    z-index:1;
    position:relative;
    padding:0.5rem;
    transition: z-index 0s 100ms;

    @media ($break-m) {
        padding:1.5rem;
    }

    &.tablet {
        z-index:10;
        grid-column:1 / span 12;
        grid-row:1 / span 6;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 8;
            grid-row:1 / span 15;
        }
    
        .artifact-image img {
            border-radius:1.75%/2.75%;
        }
        
    }

    &.phone-x {
        z-index:20;
        grid-column:1 / span 5;
        grid-row:1 / span 8;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 3;
            grid-row:1 / span 17;
        }

        @media ($break-m) {
            grid-column:1 / span 3;
            grid-row:1 / span 17;
        }

        .artifact-image img {
            border-radius:10.8%/5%;
        }

        .artifact-wrapper a:before {
            content:"";
            position:absolute;
            top:-0.25px;
            left:0;
            right:0;
            height:5%;
            background:url('../images/notch.svg') top center;
            background-size:cover;
            z-index:100;
        }
    }

    &.phone-5s {
        z-index:25;
        grid-column:1 / span 5;
        grid-row:1 / span 7;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 3;
            grid-row:1 / span 15;
        }

        @media ($break-m) {
            grid-column:1 / span 3;
        }

        .artifact-image img {
            border-radius:3%/1.8%;
        }
    }

    &.phone-old {
        z-index:25;
        grid-column:1 / span 5;
        grid-row:1 / span 6;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 3;
            grid-row:1 / span 13;
        }

        @media ($break-m) {
            grid-column:1 / span 3;
        }

        .artifact-image img {
            border-radius:3%/2.2%;
        }
    }

    &.icon {
        z-index:30;
        grid-column:1 / span 3;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 2;
        }

        @media ($break-m) {
            grid-column:1 / span 2;
        }

        .artifact-image img {
            border-radius:15%;
        }
    }

    &.card {
        grid-column:1 / span 6;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 5;
        }

        @media ($break-m) {
            grid-column:1 / span 4;
        }
    }

    a {
        border:none;
        display:block;
        position:relative;
        text-decoration:none;
        transition: transform 200ms $animation-timing-function;
        will-change: transform;
        transform-style: preserve-3d;

        @media ($break-s) {
            &:hover {
                transform:scale(1.05);
            }
        }
    }

    &:hover {
        z-index:100;
    }

}

.artifact-image img, .artifact-video {
    background:transparentize($color: $color-foreground, $amount: 0.90);
    box-shadow:0 40px 60px 10px rgba(0,0,0,0.5);
    // height:auto;
}

.artifact-label {
    // background: rgba(0,0,0,0.7);
    // mix-blend-mode:difference;
    // border-radius: 100px;
    // padding: 0.25em 0.5em;
    position: relative;
    left: -0.25em;
    top: 0.25em;
    // transform: rotate(90deg);
    // transform-origin: top left;
    // white-space: nowrap;
    display:none;
    line-height:1;

    @media ($break-xs) {
        display:initial;
    }
}

//// Artifact Grid Alignment

// Shoreline

.artifact.shoreline-mobile {
    grid-column-start: 7;
    grid-row-start: 9;
}

.artifact.shoreline-desktop {
    grid-column-start: 1;
    grid-row-start: 7;
}

@media ($break-s) {
    .project.grid .project-meta.shoreline-meta {
        grid-column-start: 6;
        grid-row-start: 19;
        // align-self:initial;
    }
    
    .artifact.shoreline-mobile {
        grid-column-start: 1;
        grid-row-start: 6;
    }
    
    .artifact.shoreline-desktop {
        grid-column-start: 5;
        grid-row-start: 1;
    }
}

@media ($break-m) {
    .project.grid .project-meta.shoreline-meta {
        grid-column: 6 / span 4;
        grid-row-start: 19;
    }
    
    .artifact.shoreline-mobile {
        grid-column-start: 1;
        grid-row-start: 6;
    }
    
    .artifact.shoreline-desktop {
        grid-column-start: 5;
        grid-row-start: 1;
    }
}

@media ($break-xl) {
    .project.grid .project-meta.shoreline-meta {
        grid-row-start: 25;
    }
}


// Daily Number 

.project-meta.dailynumber-meta {
    // grid-column-start: 1;
    // grid-row: 1 / span 4;
}

.artifact.dn-wallet {
    grid-column-start: 8;
    grid-row-start: 5;
}

.artifact.dn-nav {
    grid-column-start: 1;
    grid-row-start: 7;
}

.artifact.dn-lineup {
    grid-column-start: 7;
    grid-row-start: 9;
}

@media ($break-s) {
    .project.grid .project-meta.dailynumber-meta {
        grid-column-start: 5;
        grid-row-start: 4;
    }
    
    .artifact.dn-wallet {
        grid-column-start: 10;
        grid-row-start: 1;
    }
    
    .artifact.dn-nav {
        grid-column-start: 1;
        grid-row-start: 6;
    }
    
    .artifact.dn-lineup {
        grid-column-start: 8;
        grid-row-start: 11;
    }
}

@media ($break-m) {
    .project.grid .project-meta.dailynumber-meta {
        grid-column-start: 5;
        grid-row-start: 5;
    }
    
    .artifact.dn-wallet {
        grid-column-start: 10;
        grid-row-start: 1;
    }
    
    .artifact.dn-nav {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    
    .artifact.dn-lineup {
        grid-column-start: 8;
        grid-row-start: 6;
    }
}

// Eat This Much

.project-meta.eatthismuch-meta {
    // grid-column-start: 1;
    // grid-row-start: 1;
}

.artifact.etm-mealplan {
    grid-column-start: 8;
    grid-row-start: 5;
}

.artifact.etm-mealsettings {
    grid-column-start: 1;
    grid-row-start: 8;
}

.artifact.etm-dietoptions {
    grid-column-start: 7;
    grid-row-start: 9;
}

@media ($break-s) {
    .project.grid .project-meta.eatthismuch-meta {
        grid-column-start: 7;
        grid-row-start: 3;
    }
    
    .artifact.etm-mealplan {
        grid-column-start: 3;
        grid-row-start: 1;
    }
    
    .artifact.etm-mealsettings {
        grid-column-start: 1;
        grid-row-start: 12;
    }
    
    .artifact.etm-dietoptions {
        grid-column-start: 10;
        grid-row-start: 12;
    }
}

@media ($break-m) {
    .artifact.etm-mealsettings {
        grid-row-start: 4;
    }
    
    .artifact.etm-dietoptions {
        grid-row-start: 6;
    }
}

// Blix

.artifact.blix-map {
    grid-column-start: 1;
    grid-row-start: 6;
}

.artifact.blix-detail {
    grid-column-start: 6;
    grid-row-start: 12;
}

.artifact.blix-tagging {
    grid-column-start: 8;
    grid-row-start: 8;
}

.artifact.blix-identity {
    grid-column-start: 4;
    grid-row-start: 8;
}

@media ($break-s) {
    .project.grid .project-meta.blix-meta {
        grid-column-start: 5;
        grid-row-start: 5;
    }
    
    .artifact.blix-map {
        grid-column-start: 1;
        grid-row-start: 5;
    }
    
    .artifact.blix-detail {
        grid-column-start: 9;
        grid-row-start: 10;
    }
    
    .artifact.blix-tagging {
        grid-column-start: 10;
        grid-row-start: 1;
    }
    
    .artifact.blix-identity {
        grid-column-start: 3;
        grid-row-start: 12;
    }
}

@media ($break-m) {
    .project.grid .project-meta.blix-meta {
        grid-column-start: 5;
        grid-row-start: 3;
    }
    
    .artifact.blix-detail {
        grid-column-start: 8;
        grid-row-start: 6;
    }
    .artifact.blix-identity {
        grid-column-start: 5;
        grid-row-start: 12;
    }
}

// Blue Nile

.artifact.bluenile-detail {
    grid-column-start: 2;
    grid-row-start: 8;
}

.artifact.bluenile-photo {
    grid-column-start: 1;
    grid-row-start: 6;
}

@media ($break-s) {
    .project.grid .project-meta.bluenile-meta {
        grid-column-start: 1;
        grid-row-start: 5;
    }
    
    .artifact.bluenile-detail {
        grid-column-start: 10;
        grid-row-start: 10;
    }
    
    .artifact.bluenile-photo {
        grid-column-start: 4;
        grid-row-start: 1;
    }
}

@media ($break-m) {
    .project.grid .project-meta.bluenile-meta {
        grid-column-start: 2;
        grid-row-start: 6;
    }
    
    .artifact.bluenile-detail {
        grid-column-start: 5;
        grid-row-start: 3;
    }
    
    .artifact.bluenile-photo {
        grid-column-start: 6;
        grid-row-start: 1;
    }
}

// Julep

.artifact.julep-checkout {
    grid-column-start: 1;
    grid-row-start: 7;
}

.artifact.julep-customize {
    grid-column-start: 7;
    grid-row-start: 9;
}

@media ($break-s) {
    .project.grid .project-meta.julep-meta {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    
    .artifact.julep-checkout {
        grid-column-start: 9;
        grid-row-start: 1;
    }
    
    .artifact.julep-customize {
        grid-column-start: 7;
        grid-row-start: 4;
    }
}

@media ($break-m) {
    .project.grid .project-meta.julep-meta {
        grid-column-start: 9;
        grid-row-start: 6;
    }
    
    .artifact.julep-checkout {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    
    .artifact.julep-customize {
        grid-column-start: 5;
        grid-row-start: 4;
    }
}

// Showtime Anytime

.artifact.showtime-iphoneseriesdetail {
    grid-column-start: 3;
    grid-row-start: 10;
}

.artifact.showtime-ipadmylist {
    grid-column-start: 1;
    grid-row-start: 6;
}

@media ($break-s) {
    .project.grid .project-meta.showtime-meta {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    .artifact.showtime-iphoneseriesdetail {
        grid-column-start: 5;
        grid-row-start: 10;
    }
    
    .artifact.showtime-ipadmylist {
        grid-column-start: 6;
        grid-row-start: 2;
    }
}
@media ($break-m) {
    .project.grid .project-meta.showtime-meta {
        grid-column-start: 1;
        grid-row-start: 7;
    }
    
    .artifact.showtime-iphoneseriesdetail {
        grid-column-start: 5;
        grid-row-start: 1;
    }
    
    .artifact.showtime-ipadmylist {
        grid-column-start: 6;
        grid-row-start: 2;
    }
}

// Target

.artifact.target-iphoneapp {
    grid-column-start: 3;
    grid-row-start: 13;
}

.artifact.target-ipadapp {
    grid-column-start: 1;
    grid-row-start: 6;
}

.artifact.target-ipadappicon {
    grid-column-start: 9;
    grid-row-start: 13;
}

@media ($break-s) {
    .project.grid .project-meta.target-meta {
        grid-column-start: 9;
        grid-row-start: 2;
    }
    
    .artifact.target-iphoneapp {
        grid-column-start: 10;
        grid-row-start: 10;
    }
    
    .artifact.target-ipadapp {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    .artifact.target-ipadappicon {
        grid-column-start: 8;
        grid-row-start: 12;
    }
}

// @media ($break-m) {
//     .project.grid .project-meta.target-meta {
//         grid-column-start: 9;
//         grid-row-start: 2;
//     }
    
//     .artifact.target-iphoneapp {
//         grid-column-start: 9;
//         grid-row-start: 8;
//     }
    
//     .artifact.target-ipadapp {
//         grid-column-start: 1;
//         grid-row-start: 1;
//     }
    
//     .artifact.target-ipadappicon {
//         grid-column-start: 8;
//         grid-row-start: 12;
//     }
// }