// ARTIFACT GRID
// artifact-grid.scss

.artifacts {
    width:100%;
    grid-auto-rows:minmax(2.5vw, auto);
    margin-top:5rem;
}

.project-meta {
    grid-column:1 / span 12;
    grid-row:1;
    z-index:100;

    @media ($break-xs) {
        grid-column:1 / span 6;
    }

    @media ($break-s) {
        grid-column:1 / span 4;
    }

    @media ($break-m) {
        grid-column:1 / span 3;
    }
}

.project {
    grid-column:1 / span 12;
    grid-auto-rows:min-content;
    margin-bottom:8vw;

    @media ($break-xs) {
        grid-auto-rows:1.5rem;
    }

    @media ($break-s) {
        grid-auto-rows:2.5vw;
    }

    @media ($break-xl) {
        grid-auto-rows:1.5rem;
    }
}

.project-meta a {
    text-decoration:none;
}

.project-meta-title {
    margin-bottom:0.5rem;
}

.project-meta h2 {
    line-height:0.9;
    display:inline;
    position:relative;
}

.project-meta p, .project-meta h1 {
    text-decoration:underline;
    text-decoration-thickness: 0.15rem;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    transition: text-decoration-thickness 150ms $animation-timing-function;
}

.project-meta .project-meta-index {
    display:inline-block;
    padding-left:0.25rem;
}

.project-meta a:hover p, .project-meta a:hover h1 {
    text-decoration-thickness: 0.25rem;
}

.project-meta .text-preset-smallcaps {
    margin-left:0.125em;
}

.artifact {
    z-index:1;
    position:relative;
    transition: z-index 0s 100ms;

    &.tablet {
        z-index:10;
        grid-column:1 / span 12;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 7;
        }

        @media ($break-m) {
            grid-column:1 / span 7;
        }
    
        .artifact-image img {
            border-radius:1.75%/2.75%;
        }
        
    }

    &.phone-x {
        z-index:20;
        grid-column:1 / span 3;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 3;
        }

        @media ($break-m) {
            grid-column:1 / span 3;
        }

        .artifact-image img {
            border-radius:10.8%/5%;
        }

        .artifact-wrapper a:before {
            content:"";
            position:absolute;
            top:-0.25px;
            left:0;
            right:0;
            height:5%;
            background:url('../images/notch.svg') top center;
            background-size:cover;
            z-index:100;
        }
    }

    &.phone-5s {
        z-index:25;
        grid-column:1 / span 3;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 3;
        }

        @media ($break-m) {
            grid-column:1 / span 3;
        }

        .artifact-image img {
            border-radius:3%/1.8%;
        }
    }

    &.phone-old {
        z-index:25;
        grid-column:1 / span 3;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 3;
        }

        @media ($break-m) {
            grid-column:1 / span 3;
        }

        .artifact-image img {
            border-radius:3%/2.2%;
        }
    }

    &.icon {
        z-index:30;
        grid-column:1 / span 3;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 2;
        }

        @media ($break-m) {
            grid-column:1 / span 2;
        }

        .artifact-image img {
            border-radius:15%;
        }
    }

    &.card {
        grid-column:1 / span 6;
        line-height:0;

        @media ($break-s) {
            grid-column:1 / span 5;
        }

        @media ($break-m) {
            grid-column:1 / span 4;
        }
    }

    a {
        border:none;
        display:block;
        position:relative;
        text-decoration:none;
        transition: transform 200ms $animation-timing-function;
        will-change: transform;
        transform-style: preserve-3d;

        &:hover {
            transform:scale(1.05);
        }
    }

    &:hover {
        z-index:100;
    }

}

.artifact-image img, .artifact-video {
    background:transparentize($color: $color-foreground, $amount: 0.90);
    box-shadow:0 40px 60px 10px rgba(0,0,0,0.5);
    height:auto;
    max-width:100%;
}

.artifact-meta {
    background: rgba(0,0,0,0.7);
    mix-blend-mode:difference;
    border-radius: 100px;
    padding: 0.25em 0.5em;
    position: absolute;
    left: -0.25em;
    top: 0em;
    transform: rotate(90deg);
    transform-origin: top left;
    white-space: nowrap;
    display:none;

    @media ($break-xs) {
        display:initial;
    }
}

//// Artifact Grid Alignment

// Shoreline
.project-meta.shoreline-meta {
    grid-column: 1 / span 12;
    grid-row: 1;
}

.artifact.shoreline-mobile {
    grid-column-start: 1;
    grid-row: 2;
}

.artifact.shoreline-desktop {
    grid-column-start: 4;
    grid-row: 2;
}

@media ($break-xs) {
    .project-meta.shoreline-meta {
        grid-column: 1 / span 12;
        grid-row: 2;
    }
    
    .artifact.shoreline-mobile {
        grid-column-start: 2;
        grid-row: 2 / span 25;
    }
    
    .artifact.shoreline-desktop {
        grid-column-start: 4;
        grid-row: 14 / span 7;
    }
}

@media ($break-s) {
    .project-meta.shoreline-meta {
        grid-column: 6 / span 4;
        grid-row: 19 / span 13;
        align-self:initial;
    }
    
    .artifact.shoreline-mobile {
        grid-column-start: 1;
        grid-row: 6 / span 19;
    }
    
    .artifact.shoreline-desktop {
        grid-column: 5 / span 8;
        grid-row: 1 / span 14;
    }
}

@media ($break-m) {
    .project-meta.shoreline-meta {
        grid-column: 6 / span 4;
        grid-row: 19 / span 9;
    }
    
    .artifact.shoreline-mobile {
        grid-column-start: 1;
        grid-row-start: 6;
    }
    
    .artifact.shoreline-desktop {
        grid-column: 5 / span 8;
        grid-row: 1 / span 14;
    }
}

@media ($break-xl) {
    .project-meta.shoreline-meta {
        grid-column: 7 / span 5;
        grid-row: 20 / span 8;
    }
}

// Daily Number 

.project-meta.dailynumber-meta {
    grid-column: 1 / span 12;
    grid-row: 1;
}

.artifact.dn-wallet {
    grid-column: 1 / span 5;
    grid-row: 2;
}

.artifact.dn-nav {
    grid-column: 4 / span 5;
    grid-row: 2;
}

.artifact.dn-lineup {
    grid-column: 8 / span 5;
    grid-row: 2;
}

@media ($break-xs) {
    .project-meta.dailynumber-meta {
        grid-column: 2 / span 3;
        grid-row: 1 / span 8;
    }
    
    .artifact.dn-wallet {
        grid-column: 9 / span 3;
        grid-row: 2 / span 12;
    }
    
    .artifact.dn-nav {
        grid-column: 2 / span 3;
        grid-row: 9 / span 12;
    }
    
    .artifact.dn-lineup {
        grid-column: 8 / span 3;
        grid-row: 9 / span 18;
    }
}

@media ($break-s) {
    .project-meta.dailynumber-meta {
        grid-column-start: 5;
        grid-row: 3 / span 10;
    }
    
    .artifact.dn-wallet {
        grid-column-start: 10;
        grid-row: 1 / span 18;
    }
    
    .artifact.dn-nav {
        grid-column-start: 1;
        grid-row: 2 / span 18;
    }
    
    .artifact.dn-lineup {
        grid-column-start: 8;
        grid-row: 14 / span 18;
    }
}


@media ($break-m) {
    .project-meta.dailynumber-meta {
        grid-column-start: 5;
        grid-row: 5 / span 8;
    }
    
    .artifact.dn-wallet {
        grid-column-start: 10;
        grid-row: 1 / span 18;
    }
    
    .artifact.dn-nav {
        grid-column-start: 1;
        grid-row: 2 / span 18;
    }
    
    .artifact.dn-lineup {
        grid-column-start: 8;
        grid-row: 9 / span 19;
    }
}

// Eat This Much

.project-meta.eatthismuch-meta {
    grid-column: 1 / span 12;
    grid-row: 1;
}

.artifact.etm-mealplan {
    grid-column: 1 / span 5;
    grid-row: 2;
}

.artifact.etm-mealsettings {
    grid-column: 4 / span 5;
    grid-row: 2;
}

.artifact.etm-dietoptions {
    grid-column: 8 / span 5;
    grid-row: 2;
}

@media ($break-xs) {
    .project-meta.eatthismuch-meta {
        grid-column: 1 / span 5;
        grid-row: 1 / span 8;
    }
    
    .artifact.etm-mealplan {
        grid-column: 7 / span 3;
        grid-row: 1 / span 18;
    }
    
    .artifact.etm-mealsettings {
        grid-column: 2 / span 3;
        grid-row: 12 / span 12;
    }
    
    .artifact.etm-dietoptions {
        grid-column: 9 / span 3;
        grid-row: 9 / span 19;
    }
}

@media ($break-s) {
    .project-meta.eatthismuch-meta {
        grid-column-start: 7;
        grid-row: 3 / span 8;
    }
    
    .artifact.etm-mealplan {
        grid-column-start: 3;
        grid-row: 1 / span 19;
    }
    
    .artifact.etm-mealsettings {
        grid-column-start: 1;
        grid-row: 12 / span 19;
    }
    
    .artifact.etm-dietoptions {
        grid-column-start: 10;
        grid-row: 12 / span 19;
    }
}

@media ($break-m) {
    .project-meta.eatthismuch-meta {
        grid-column-start: 7;
        grid-row: 3 / span 8;
    }
    
    .artifact.etm-mealplan {
        grid-column-start: 3;
        grid-row: 1 / span 18;
    }
    
    .artifact.etm-mealsettings {
        grid-column-start: 1;
        grid-row: 12 / span 18;
    }
    
    .artifact.etm-dietoptions {
        grid-column-start: 10;
        grid-row: 9 / span 20;
    }
}

// Blix
.project-meta.blix-meta {
    grid-column: 1 / span 12;
    grid-row: 1;
}

.artifact.blix-map {
    grid-column: 1 / span 5;
    grid-row: 2;
}

.artifact.blix-detail {
    grid-column: 4 / span 5;
    grid-row: 2;
}

.artifact.blix-tagging {
    grid-column: 8 / span 5;
    grid-row: 2;
}

.artifact.blix-identity {
    grid-column: 10 / span 3;
    grid-row: 2;
    margin-top:-1rem;
}

@media ($break-xs) {
    .project-meta.blix-meta {
        grid-column: 7 / span 4;
        grid-row: 2 / span 8;
    }
    
    .artifact.blix-map {
        grid-column: 2 / span 3;
        grid-row: 1 / span 14;
    }
    
    .artifact.blix-detail {
        grid-column: 6 / span 3;
        grid-row: 15 / span 18;
    }
    
    .artifact.blix-tagging {
        grid-column: 9 / span 3;
        grid-row: 10 / span 14;
    }
    
    .artifact.blix-identity {
        grid-column: 2 / span 2;
        grid-row: 12 / span 2;
    }
}

@media ($break-s) {
    .project-meta.blix-meta {
        grid-column-start: 5;
        grid-row: 5 / span 8;
    }
    
    .artifact.blix-map {
        grid-column-start: 1;
        grid-row: 5 / span 14;
    }
    
    .artifact.blix-detail {
        grid-column-start: 9;
        grid-row: 14 / span 18;
    }
    
    .artifact.blix-tagging {
        grid-column-start: 10;
        grid-row: 1 / span 14;
    }
    
    .artifact.blix-identity {
        grid-column-start: 3;
        grid-row: 16 / span 2;
    }
}

@media ($break-m) {
    .project-meta.blix-meta {
        grid-column-start: 5;
        grid-row: 5 / span 8;
    }
    
    .artifact.blix-map {
        grid-column-start: 1;
        grid-row: 5 / span 14;
    }
    
    .artifact.blix-detail {
        grid-column-start: 8;
        grid-row: 14 / span 18;
    }
    
    .artifact.blix-tagging {
        grid-column-start: 10;
        grid-row: 1 / span 14;
    }
    
    .artifact.blix-identity {
        grid-column-start: 3;
        grid-row: 16 / span 2;
    }
}

// Blue Nile

.project-meta.bluenile-meta {
    grid-column: 1 / span 12;
    grid-row: 1;
}

.artifact.bluenile-detail {
    grid-column: 1 / span 5;
    grid-row: 2;
}

.artifact.bluenile-photo {
    grid-column: 1 / span 12;
    grid-row: 2;
}

@media ($break-xs) {
    .project-meta.bluenile-meta {
        grid-column: 2 / span 4;
        grid-row: 1 / span 8;
    }
    
    .artifact.bluenile-detail {
        grid-column: 2 / span 3;
        grid-row: 12 / span 18;
    }
    
    .artifact.bluenile-photo {
        grid-column: 1 / span 12;
        grid-row: 10 / span 10;
    }
}

@media ($break-s) {
    .project-meta.bluenile-meta {
        grid-column-start: 1;
        grid-row: 2 / span 8;
    }
    
    .artifact.bluenile-detail {
        grid-column-start: 6;
        grid-row: 2 / span 18;
    }
    
    .artifact.bluenile-photo {
        grid-column: 7 / span 8;
        grid-row: 1 / span 14;
    }
}

@media ($break-m) {
    .project-meta.bluenile-meta {
        grid-column-start: 1;
        grid-row: 2 / span 8;
    }
    
    .artifact.bluenile-detail {
        grid-column-start: 5;
        grid-row: 2 / span 18;
    }
    
    .artifact.bluenile-photo {
        grid-column: 7 / span 8;
        grid-row: 1 / span 14;
    }
}

// Julep

.project-meta.julep-meta {
    grid-column-start: 7;
    grid-row: 1 / span 7;
}

.artifact.julep-checkout {
    grid-column-start: 2;
    grid-row: 4 / span 10;
}

.artifact.julep-customize {
    grid-column-start: 7;
    grid-row: 9 / span 14;
}

@media ($break-s) {
    .project-meta.julep-meta {
        grid-column-start: 10;
        grid-row: 2 / span 8;
    }
    
    .artifact.julep-checkout {
        grid-column-start: 2;
        grid-row: 1 / span 18;
    }
    
    .artifact.julep-customize {
        grid-column-start: 6;
        grid-row: 2 / span 15;
    }
}

@media ($break-m) {
    .project-meta.julep-meta {
        grid-column-start: 10;
        grid-row: 2 / span 8;
    }
    
    .artifact.julep-checkout {
        grid-column-start: 2;
        grid-row: 1 / span 18;
    }
    
    .artifact.julep-customize {
        grid-column-start: 6;
        grid-row: 2 / span 15;
    }
}

// Showtime Anytime

.project-meta.showtime-meta {
    grid-column: 2 / span 6;
    grid-row: 1 / span 8;
}

.artifact.showtime-iphoneseriesdetail {
    grid-column-start: 9;
    grid-row: 9 / span 13;
}

.artifact.showtime-ipadmylist {
    grid-column: 2 / span 9;
    grid-row: 12 / span 16;
}

@media ($break-s) {
    .project-meta.showtime-meta {
        grid-column: 1 / span 3;
        grid-row: 2 / span 8;
    }
    
    .artifact.showtime-iphoneseriesdetail {
        grid-column-start: 5;
        grid-row: 1 / span 13;
    }
    
    .artifact.showtime-ipadmylist {
        grid-column-start: 6;
        grid-row: 2 / span 20;
    }
}
@media ($break-m) {
    .project-meta.showtime-meta {
        grid-column-start: 1;
        grid-row: 2 / span 8;
    }
    
    .artifact.showtime-iphoneseriesdetail {
        grid-column-start: 5;
        grid-row: 1 / span 13;
    }
    
    .artifact.showtime-ipadmylist {
        grid-column-start: 6;
        grid-row: 2 / span 20;
    }
}

// Target

.project-meta.target-meta {
    grid-column-start: 7;
    grid-row: 16 / span 8;
}

.artifact.target-iphoneapp {
    grid-column-start: 2;
    grid-row: 13 / span 13;
}

.artifact.target-ipadapp {
    grid-column-start: 3;
    grid-row: 1 / span 9;
}

.artifact.target-ipadappicon {
    grid-column-start: 9;
    grid-row: 11 / span 4;
}

@media ($break-s) {
    .project-meta.target-meta {
        grid-column-start: 9;
        grid-row: 2 / span 8;
    }
    
    .artifact.target-iphoneapp {
        grid-column-start: 10;
        grid-row: 10 / span 20;
    }
    
    .artifact.target-ipadapp {
        grid-column-start: 1;
        grid-row: 1 / span 15;
    }
    
    .artifact.target-ipadappicon {
        grid-column-start: 7;
        grid-row: 12 / span 6;
    }
}

@media ($break-m) {
    .project-meta.target-meta {
        grid-column-start: 9;
        grid-row: 2 / span 8;
    }
    
    .artifact.target-iphoneapp {
        grid-column-start: 10;
        grid-row: 10 / span 13;
    }
    
    .artifact.target-ipadapp {
        grid-column-start: 1;
        grid-row: 1 / span 15;
    }
    
    .artifact.target-ipadappicon {
        grid-column-start: 7;
        grid-row: 12 / span 6;
    }
}