// Details Box
// details-box.scss

.details-box {
  border:2px solid $color-border;
  display:flex;
  flex-direction:row;
  margin:$spacing-4 auto;

  .details-segment {
    padding:$spacing-2 $spacing-3;
    border-right:2px solid $color-border;
  }

  .detail {
    @include font-style-mono-s;
  }
}