// Details Box
// details-box.scss

.details-box {
  display:flex;
  flex-direction:row;
  margin:$spacing-4 auto;

  .label {
    display:block;
  }

  .details-segment {
    padding:$spacing-2;
  }
}