// Header
// header.scss

.header {
  z-index:1100;
  position:fixed;
  transform:translate3d(0,0,10px);
}


.logo, .close {
  width:40px;
  @media ($break-s) {
    width:2rem;
  }
}

.nav-home,
.nav-close {
  position:fixed;
  top:1rem;
  z-index:1000;
  
  @media ($break-s) {
    top:2rem;
  }

  a {
    display:block;
    text-decoration:none;
    height:100%;
    width:100%;
  }
}

.nav-home {
  left:1rem;

  @media ($break-s) {
    left:2rem;
  }
}

.nav-close {
  right:1rem;

  @media ($break-s) {
    right:2rem;
  }
}

.nav-home a {
  display:flex;
  flex-direction:row;
  align-items: center;
  text-decoration:none;
}

.nav-home .studioupleft {
  white-space:nowrap;
}