// More Projects
// more-projects.scss

#more-projects {
    padding:$page-spacing 0;
    background:black;
    color:white;
}

#more-projects .project-meta {
  display:inline-block;
  margin-right:1rem;
  line-height:2;
}

.project-row-moreprojects {
  grid-column:3 / span 10;

  @media ($break-s) {
    grid-column:2 / span 11;
  }
}