// More Projects
// more-projects.scss

.more-projects {
    padding-top:$spacing-5;
    padding-bottom:$spacing-4;
    margin-bottom:$spacing-4;

    h2 {
        @include font-style-mono-m;
    }

    li {
        list-style-type:none;
    }

    .projects {
        margin-top:$spacing-3;
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-column-gap:$spacing-3;
    }

    .project {
        background:white;

        a {
            display:block;
            height:15vw;
            padding:$spacing-3;
        }
    }
}