// More Projects
// more-projects.scss

#more-projects {
  padding:5rem 0;
  background:black;
  color:white;
}

#more-projects .project-meta a {
  text-decoration:none
}

#more-projects .grid-row-moreprojects {
  margin-top:1rem;
  grid-column:1 / span 12;

  @media ($break-s) {
    grid-column: 2 / span 10;
    padding: 0 2rem;
  }
  @media ($break-m) {
    grid-column: 3 / span 8;
    padding: 0 2rem;
  }
}

#more-projects h3 {
  margin-bottom:0.75rem;
}

#more-projects .project-meta {

  @media ($break-s) {
    // display:inline-block;
  }
}

// #more-projects .project-meta + .project-meta {
//   margin-top:$spacing-4;
//   @media ($break-s) {
//     margin-top:inherit;
//   }
// 

#more-projects .project-meta:not(:last-child) h2 .underliner:after {
  content:",";
}

#more-projects .project-meta:last-child h2 .underliner:before {
  content:"and ";
}

#more-projects .project-meta:last-child h2 .underliner:after {
  content:".";
}

#more-projects .underliner {
  box-shadow: inset 0 0em 0 var(--link-background-color, $color-primary);
}

#more-projects a:hover .underliner {
  box-shadow: inset 0 -1.05em 0 var(--link-background-color, $color-primary); //Inset should match line-height
}