// Next Project
// next-project.scss

.next-project {
    background:black;
    color:white;
    padding:10vw 0;

    a {
        text-decoration:none;
        position:relative;
        display:block;
        transition:200ms $animation-timing-function;
    }

    a h1 {
        text-decoration:underline;text-decoration-skip-ink: none;
        text-decoration-skip: none;
        text-decoration-thickness: 0.05em;
        transition: text-decoration-thickness 100ms $animation-timing-function;
    }
    a:hover h1 {
        text-decoration-thickness: 0.125em;
    }

    .next-project-subtitle {
        text-decoration:none;
    }
}