// Next Project
// next-project.scss

.next-project {
    border-top:2px solid $color-border;
    border-bottom:2px solid $color-border;
    margin-top:$spacing-5;

    a {
        display:block;
        padding-top:$spacing-5;
        padding-bottom:$spacing-5;
        color:$color-text;
        text-decoration:none;

        &:hover {
            background:lighten($color-background, 8%);
        }
    }

    h2 {
        @include font-style-mono-m;
    }
}