// Next Project
// next-project.scss

.next-project {
    background:black;
    color:white;
    position:relative;
    overflow:hidden;
    height:100vw;
    width:100vw;

    @media ($break-s) {
        height:auto;
    }
}

a.next-project-link {
    text-decoration: none;
    display:block;
    width:100%;
    height:100%;
    display:flex;
}

// a.next-project-link:hover ~ .next-project-background {
//     transform:scale(1.05);
// }

.next-project-container {
    // height:85vh;
    align-self:center;
  
    @media ($break-s) {
      height:auto;
    }
  }
  
  .next-project .next-project-container {
    text-align:center;
    padding:2rem;
    position:relative;
    z-index:100;
  
    @media ($break-s) {
      background:transparent;
      padding:6rem;
      margin:0 auto;
    }
  }
  
  .next-project-label {
    margin-bottom:1rem;
  }

.next-project-content {
    grid-column:3 / span 8;
}

.next-project-background {
  background-position: 50% 30%;
  background-repeat:no-repeat;
  background-size:cover;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition: transform 1000ms $animation-timing-function;
}