<section class="footer">
    <div class="container grid">
        <div class="sayhi">
            <h3>Currently available for new projects.</h3>
            <h2>For project and work inquiries, or just to say <span class="emoji">👋</span>, please email 
                <a href="javascript:location='mailto:\u006a\u006f\u0065\u0040\u0075\u0070\u006c\u0065\u0066\u0074\u002e\u0063\u006f\u006d';void 0"><span class="underliner"><script type="text/javascript">document.write('\u006a\u006f\u0065\u0040\u0075\u0070\u006c\u0065\u0066\u0074\u002e\u0063\u006f\u006d')</script></span></a>, or reach out on
                <a href="https://twitter.com/studioupleft"><span class="underliner">Twitter</span></a> or 
                <a href="https://www.instagram.com/studioupleft/"><span class="underliner">Instagram</span></a>.
            </h2>
            
        </div>
    </div>
</section>