<section class="footer">
    <div class="container grid">
        <div class="sayhi">
            <h3>Currently available for new projects.</h3>
            <h2>For project and work inquiries, or just to say <span class="emoji">👋</span>, please email 
                <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#111;&#101;&#64;&#117;&#112;&#108;&#101;&#102;&#116;&#46;&#99;&#111;&#109;"><span class="underliner">&#106;&#111;&#101;&#64;&#117;&#112;&#108;&#101;&#102;&#116;&#46;&#99;&#111;&#109;</span></a>
                <a href="https://twitter.com/studioupleft"><span class="underliner">Twitter</span></a> or 
                <a href="https://www.instagram.com/studioupleft/"><span class="underliner">Instagram</span></a>.
            </h2>
            
        </div>
    </div>
</section>