{% capture the_collection %}{{page.collection}}{% endcapture %}

{% if page.collection %}
	{% assign  document = site[the_collection]  %}
{% endif %}

{% assign current = page.url | downcase | split: '/' %}
{% if page.url == "/"  %}
	{% assign current = "home" %}
{% else %}
	{% assign current = page.url | remove: "index.html" | remove: "/work/" | remove: "/" %}
{% endif %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://use.typekit.net/fiu8ycp.css">

	<link rel="apple-touch-icon" sizes="57x57" href="/r/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/r/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/r/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/r/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/r/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/r/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/r/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/r/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/r/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/r/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/r/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/r/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/r/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/r/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/r/images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<script src="http://leaverou.github.com/prefixfree/prefixfree.min.js"></script>
	<link rel="stylesheet" href="/r/css/style.css">

	<title>{{ site.title }} — {{ page.title }}</title>
</head>