<section class="header">
	<div class="container header-container grid">
			<div class="nav-home">
				<a href="/">
					<img class="logo" src="/r/images/eye-logo.svg" />
					{% if page.layout == "default" %}
					<p class="studioupleft">Studio Upleft</p>
					{% endif %}
				</a>
			</div>
			{% if page.layout == "project" %}
			<div class="nav-close">
				<a href="/">
					<img class="close" src="/r/images/close.svg" />
				</a>
			</div>
			{% else %}
			<div class="nav-about">
				<a href="/">
					About
				</a>
			</div>
			{% endif %}
	</div>
</section>