<script src="/r/js/rellax.js"></script>
<script src="/r/js/barba.core.2.9.7.min.js"></script>
<script src="/r/js/barba-css.2.1.15.js"></script>
<script src="/r/js/barba-prefetch.2.1.10.js"></script>
<script type="text/javascript">

// var screenSize;
// detectScreenSize = function(){
//   if (window.matchMedia("(min-width: 375px)").matches) {
//     smallScreen = false
//   } else {
//     smallScreen = true
//   }
//   console.log("Small screen:" + smallScreen);
// };

// First we get the viewport height and we multiple it by 1% to get a value for a vh unit
let vh = window.innerHeight * 0.01;
// Then we set the value in the --vh custom property to the root of the document
document.documentElement.style.setProperty('--vh', `${vh}px`);


reloadRellax = function(){
  // detectScreenSize();
  // if (smallScreen == false){
    var rellax = new Rellax('.rellax', {
    breakpoints: [640, 960, 1280],
    center:true
  });
  // };
};


barba.use(barbaPrefetch);
barba.use(barbaCss);

const body = document.querySelector('body');

barba.hooks.before((data) => {
  const background = data.current.container.dataset.background;
  body.style.setProperty('--page-background', background);
});

let scrollX = window.scrollX
let scrollY = window.scrollY

barba.init({
  views: [
    {
      namespace: 'home',
      beforeLeave(data) {
        scrollX = window.scrollX;
        scrollY = window.scrollY;
      },
      beforeEnter(data) {
        window.scrollTo(scrollX, scrollY);
        reloadRellax();
        obscureThatThing();
      },
      afterEnter(data) {
      }
    },
    {
      namespace: 'project',
      beforeLeave(data) {
        document.querySelector(".project-outer").style.transform = "translateY(-" + window.scrollY + "px)";
      },
      afterEnter(data) {
        window.scrollTo(0, 0);
      },
    }
  ],
  transitions: [
    {
      name: 'transition',
      sync: true,
      leave() {},
      enter() {},
    },
    {
      name: 'project-to-project',
      sync: true,
      leave() {},
      enter() {},
      from: {
        namespace: 'project'
      },
      to: {
        namespace: 'project'
      },
    },
  ],
});

</script>