<script src="/r/js/rellax.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/r/js/jquery.smoothState.min.js"></script>
<script type="text/javascript">
// Rellax

window.onload = function(){
  detectScreenSize();
  if (smallScreen == false){
    var rellax = new Rellax('.rellax', {
    breakpoints: [640, 960, 1280],
    center:true
  });
  }
}

var screenSize;
detectScreenSize = function(){
  if (window.matchMedia("(min-width: 375px)").matches) {
    smallScreen = false
  } else {
    smallScreen = true
  }
  console.log("Small screen:" + smallScreen);
};



// SmoothState

$(function(){
  'use strict';
  var options = {
    cacheLength: 0,
    scroll:false,
    onBefore: function ($currentTarget, $container) {
      
    },
    onStart: {
      duration: 700, // Duration of our animation
      render: function ($container) {
        // Add your CSS animation reversing class
        $container.addClass('is-exiting');

        // Restart your animation
        // smoothState.restartCSSAnimations();
      }
    },
    onProgress: {
      // How long this animation takes
      duration: 0,
      // A function that dictates the animations that take place
      render: function ($container) {}
    },
    onReady: {
    duration: 0,
    render: function($container, $newContent) {
        // Remove your CSS animation reversing class
        $container.removeClass('is-exiting');
        // Inject the new content
        $container.html($newContent);
        $('html, body').animate({ scrollTop: 0 }, 0);
    }
},
    onAfter: function($container) {
      // Remove your CSS animation reversing class
      $container.removeClass('is-exiting');
      var rellax = new Rellax('.rellax', {
        breakpoints: [576, 768, 1201],
        center:true
      });
    }
  },
  smoothState = $('#main').smoothState(options).data('smoothState');
});

</script>