<div class="project-{{thumb.project}} thumb grid-item">
    <div class="thumb-details">
        <div class="thumb-title-group">
            <p class="thumb-title"><a href="/work/{{ thumb.project }}">{{ thumb.title }}</a></p>
            <ul class="tags">
                {% for tag in thumb.tags %}
                <li class="tag"><a href="/tags/{{ tag | slugify }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <a href="/work/{{ thumb.project }}" class="background" style="background:{{ piece.background }};">
        <div class="thumb-image">HELLO
            <img src="/work/{{ thumb.project }}/{{ thumb.image }}" />
        </div>
    </a>
</div>