<!--
Next Project
template-nextproject.html
-->
{% assign sorted_projects = site.work | sort: "order","last" %}
{% for project in sorted_projects %}
{% if project.title == page.title %}
    {% assign currIndex = forloop.index0 %}
    {% assign nextIndex = currIndex | plus: 1 %}
    {% assign projectIndexLength = forloop.length | minus: 1 %}

    {% if currIndex < projectIndexLength %}
        {% assign nextProject = sorted_projects[nextIndex] %}
    {% elsif currIndex == projectIndexLength %}
        {% assign nextProject = sorted_projects[0] %}
    {% endif %}
    <section class="next-project" > 
        <div class="container">
            <div class="grid">
                <div class="project-row-subtitle"><h3>Next Project</h3></div>
                <div class="project-row-headline">
                    <a href="{{ nextProject.url | remove:'index.html'}}">
                        <h1 style="text-decoration-color:{{ nextProject.highlight-color }}" class="next-project-title">{{ nextProject.title }}</h1>
                        <p class="next-project-subtitle">{{ nextProject.subtitle }}</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% endfor %}
