<!--
More Work
template-work.html
-->

{% assign sorted_projects = site.work | sort: "order","last" %}
<section id="more-projects"> 
    <div class="container">
        <div class="grid">
            <div class="project-row-subtitle"><h3>All Case Studies</h3></div>
            <div class="project-row-headline">
                {% for project in sorted_projects %}
                <div class="project-meta">
                    <a href="{{ project.url }}">
                        <div class="project-meta-title">
                            <h1 style="text-decoration-color:{{project.highlight-color}}">{{project.title}}<span class="project-meta-index text-preset-smallcaps">{{ forloop.index }}</span></h1>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> 
</section>