<!--
More Work
template-work.html
-->
<!-- TODO: low priority: animate transition to project -->
{% assign sorted_projects = site.work | sort: "order","last" %}
<section id="more-projects"> 
    <div class="container">
        <div class="grid">
            <div class="grid-row-moreprojects">
                <h3>Case Studies by Client</h3>
                {% for project in sorted_projects %}
                <div class="project-meta {{ project.slug }}-meta text-preset-header-xxl">
                    <a href="{{ project.url }}"><div class="project-client"><h2 class="text-preset-header-xxl"><span class="underliner" style="--link-background-color:{{ project.highlight-color }}">{{project.client-short}}</span></h2></div></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> 
</section>