<!--
Main Navigation
template-primary-navigation.html
-->
{% assign current = page.url | downcase | split: '/' %}
<nav class="primary-navigation">
    <div class="nav-home">
        <a href="/">
            <img class="logo" src="/r/images/eye-logo.svg" />
            <p>Studio Upleft</p>
        </a>
    </div>
    <div class="introtext grid">
        <p>is the design practice of <a href="#">Joe Shoop</a>, a digital designer based in Seattle, WA.</p>
        <p>Recent work includes a platform to help people shop local from home, <a href="#">a daily fantasy sports game</a>, a design system for a business analytics tool, <a href="#">a website and design guidelines for a community college</a>, <a href="#">product design for a meal planner app</a>, an interface for an in-flight entertainment system, design for a retail inventory tracking app, and many more.</p>
        <p>I am particularly interested in the incredible potential of digital interfaces as tools—practical, useful, outcome-based tools that empower human intention.</p>
    </div>
    <!-- <ul class="nav-container">
        <li class="nav-link {% if current[1] == 'Work' or page.url == "/" %}current{% endif %}"><a href="/"">Work</a></li>
        <li class="nav-link {% if current[1] == 'about' %}current{% endif %}"><a href="/about">About</a></li>
    </ul> -->
</nav>