<div class="footer">
    <div class="col">
        <a class="logo" href="/">
            {% include component-logo.html %}
        </a>
    </div>
    <div class="fluid col">
        <div class="details-box">
            <div class="details-segment">
                <span class="label">Contact</span>
                <span class="detail"><script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'s'+'t'+'u'+'%'+'6'+
                    '&'+'#'+'5'+'2'+';'+'i'+'&'+'#'+'1'+'1'+'1'+';'+'&'+'#'+'6'+'4'+';'+'u'+'p'+'%'+'&'+'#'+'5'+'4'+';'+
                    '&'+'#'+'6'+'7'+';'+'&'+'#'+'1'+'0'+'1'+';'+'f'+'%'+'7'+'4'+'&'+'#'+'4'+'6'+';'+'c'+'&'+'#'+'1'+'1'+
                    '1'+';'+'%'+'6'+'D'+"'"+'>'+'s'+'t'+'&'+'#'+'1'+'1'+'7'+';'+'d'+'i'+'o'+'&'+'#'+'6'+'4'+';'+'u'+'p'+
                    'l'+'e'+'f'+'t'+'&'+'#'+'4'+'6'+';'+'c'+'o'+'m'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript></span>
            </div>
            <div class="details-segment">
                    <span class="label">Elsewhere</span>
                    <span class="detail"><a href="https://twitter.com/StudioUpleft">Twitter</a>, <a href="https://www.instagram.com/studioupleft/">Instagram</a></span>
                </div>
            <div class="details-segment">
                <span class="label">A Recent Listen</span>
                <span class="detail">
                    <a href="https://www.youtube.com/watch?v=KjQSSYOTXzk">Friday Morning — Khruangbin</a>
                </span>
            </div>
        </div>
    </div>
</div>