{% capture the_collection %}{{page.collection}}{% endcapture %}
	{% if page.collection %}
		{% assign  document = site[the_collection]  %}
	{% endif %}
{% for links in document  %}
	{% if links.title == page.title %}
		{% if forloop.last == false %}
			{% assign next = document[forloop.index] %}
		{% endif %}
		{% if forloop.last %}
			{% assign next = document[0] %}
		{% endif %}
	{% endif %}
{% endfor %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://use.typekit.net/fiu8ycp.css">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="/r/css/style.css">

	<title>{{ site.title }} — {{ page.title }}</title>
</head>