@font-face {
	font-family: "Sohne Bold";
	src: url("../fonts/SöhneTest-Dreiviertelfett.otf");
  }

  @font-face {
	font-family: "Sohne Book";
	src: url("../fonts/SöhneTest-Buch.otf");
  }

  @font-face {
	font-family: "Tiempos Headline";
	src: url("../fonts/TiemposHeadlineTest-Medium.otf");
  }

  @font-face {
	font-family: "Jetbrains Mono";
	src: url("../fonts/JetBrainsMono-Regular.woff2");
  }

  @font-face {
	font-family: "Jetbrains Italic";
	src: url("../fonts/JetBrainsMono-Medium-Italic.woff2");
  }

 

// 
// Type Sizes
//
// font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

@mixin text-preset-body {
	font-family:$base-font-family;
	font-size:1rem;
	line-height:1.45;
	font-weight:400;
}

@mixin text-preset-header-xxl {
	font-family:$display-font-family;
	font-size:2.5rem;
	line-height:1.05;
	letter-spacing:-0.015em;

	@media ($break-m) {
		font-size:3.5rem;
	}
}

@mixin text-preset-header-xl {
	font-family:$display-font-family;
	font-size:1.875rem;
	line-height:1.05;
	letter-spacing:-0.015em;

	@media ($break-m) {
		font-size:2.5rem;
	}
}

@mixin text-preset-header-l {
	font-family:$headline-font-family;
	font-size:1.875rem;
	line-height:1.05;
	letter-spacing:-0.015em;

	@media ($break-m) {
		font-size:2.125rem;
	}
}

@mixin text-preset-mono {
	font-family:$mono-font-family;
	font-weight: 400;
    font-size: 0.825rem;

	// @media ($break-s) {
	// 	font-size:1.5rem;
	// }
}

@mixin text-preset-mono-caps {
	font-family:$mono-font-family;
	letter-spacing: 0.15em;
	font-weight: 400;
    font-size: 12px;
	text-transform:uppercase;
}

@mixin text-preset-caption {
	font-family:$base-font-family;
	font-size:13px;
	opacity:0.7;

	@media ($break-m) {
		font-size:0.65rem;
	}
}

//
// Type Styles
//

//////////////////////////////

html {
	font-size:16px;

	@media ($break-xs) {
        font-size:calc(18px + 4 * ((100vw - 375px) / 1065));
	}
	
	@media ($break-xl) {
        font-size:22px;
    }
}

body {
	@include text-preset-body;
	-moz-font-feature-settings:    "kern" 1; 
	-ms-font-feature-settings:     "kern" 1; 
	-o-font-feature-settings:      "kern" 1; 
	-webkit-font-feature-settings: "kern" 1; 
	font-feature-settings:         "kern" 1;
	font-kerning: normal;

	-webkit-font-smoothing: antialiased; /* Chrome, Safari */
	-moz-osx-font-smoothing: grayscale; /* Firefox */
}

.text-preset-header-xxl {
	@include text-preset-header-xxl;
}

h1, .text-preset-header-xl {
	@include text-preset-header-xl;
}

h2, .text-preset-header-l {
	@include text-preset-header-l;
}

h3, .text-preset-mono {
	@include text-preset-mono;
}

h4, .text-preset-caption {
	@include text-preset-caption;
}

p, .text-preset-body {
	@include text-preset-body;
}

.caption, .text-preset-caption {
	@include text-preset-caption;
}

h1 + p, 
h2 + p,
h3 + p,
h3 + h2,
p + p
{
	margin-top:0.75rem;
}

p + h3,
h2 + h3,
h2 + p,
h3 + ul {
	margin-top:1rem;
}


strong {
	opacity:1;
}

a {
	color:currentColor;
	// text-decoration:none;
	// @include link-underline;
}

ul, ol {
	margin:1em 0 1em 1.125em;
}

blockquote {
	margin:1em 0;
	padding-left:1em;
	border-left:2px solid currentColor;
}

.highlighter-rouge code {
	margin:1em 0
}

code.highlighter-rouge {
	margin:0;
}