// 
// Type Sizes
//
// font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));

@mixin text-preset-body {
	font-family:$base-font-family;
	font-size:1rem;
	line-height:1.6;
	font-weight:400;

	// 16px at 960px wide
	@media ($break-s) {
		line-height:1.5;
	}
}

@mixin text-preset-hero {
	font-family:$headline-font-family;
	font-size:2.5rem;
	font-weight:300;
	line-height:0.9;
}


@mixin text-preset-header {
	font-family:$headline-font-family;
	font-size:3rem;
	font-weight:300;
	line-height:0.9;
	

	@media ($break-s) {
		font-size:2.25rem;
	}
}

@mixin text-preset-subheader {
	font-family:$headline-font-family;
	font-size:2rem;
	font-weight:300;
	line-height:1.2;
}

@mixin text-preset-smallcaps {
	font-family:$headline-font-family;
	font-size:10px;
	font-weight:400;
	letter-spacing: 0.15em;
	line-height:1.25em;
	text-transform: uppercase;

	@media ($break-m) {
		font-size:14px;
	}
}

//
// Type Styles
//

//////////////////////////////

html {
	font-size:12px;

	@media ($break-xs) {
        font-size:calc(14px + 12 * ((100vw - 375px) / 1065));
	}
	
	@media ($break-xl) {
        font-size:26px;
    }
}

body {
	@include text-preset-body;
	-moz-font-feature-settings:    "kern" 1; 
	-ms-font-feature-settings:     "kern" 1; 
	-o-font-feature-settings:      "kern" 1; 
	-webkit-font-feature-settings: "kern" 1; 
	font-feature-settings:         "kern" 1;
	font-kerning: normal;

	-webkit-font-smoothing: antialiased; /* Chrome, Safari */
	-moz-osx-font-smoothing: grayscale; /* Firefox */
}

.text-preset-hero {
	@include text-preset-hero;
}

h1, .text-preset-header {
	@include text-preset-header;
}

h2, .text-preset-subheader {
	@include text-preset-subheader;
}

h3, .text-preset-smallcaps {
	@include text-preset-smallcaps;
}

p, .text-preset-body {
	@include text-preset-body;
}

h1 + p, 
h2 + p,
h3 + p,
p + p
{
	margin-top:0.75rem;
}

p + h3,
h2 + h3 {
	margin-top:2rem;
}

// p + h1,
// p + h2,
// p + h3,
// div + h2 {
// 	margin-top:4rem;
// }

strong {
	opacity:1;
}

a {
	color:currentColor;
	text-decoration-skip-ink: none;
	text-decoration-skip: none;
	text-decoration-thickness: 0.125rem;
	transition: text-decoration-thickness 100ms $animation-timing-function;
}

a:hover {
	text-decoration-thickness: 0.25rem;
}


ul, ol {
	margin:1em 0 1em 1.125em;
}

blockquote {
	margin:1em 0;
	padding-left:1em;
	border-left:2px solid currentColor;
}

.highlighter-rouge code {
	margin:1em 0
}

code.highlighter-rouge {
	margin:0;
}