$color-primary: #DB9B35;
$color-background: #000;
$color-text: #fff;
$color-border: rgba(255,255,255,0.15);

$break-medium: "min-width:62rem";
$break-small: "min-width:48rem";

$spacing-6: 8rem;
$spacing-5: 4rem;
$spacing-4: 2rem;
$spacing-3: 1rem;
$spacing-2: 0.5rem;
$spacing-1: 0.25rem;
$spacing-0: 0;

$page-spacing: $spacing-5;

$animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

// Typography

$base-font-family:Inter, sans;
$system-font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$emphasis-font-family:termina, sans-serif;
$mono-font-family:"Vulf Mono Code", Courier, monospace;

$base-font-size:16; // in px
$base-line-height:1.5;