$color-primary: #DB9B35;
$color-background: #000;
$color-foreground: #fff;
$color-midground: #757575;

$break-xl: "min-width:1630px";
$break-l: "min-width:1280px";
$break-m: "min-width:1080px";
$break-s: "min-width:640px";
$break-xs: "min-width:375px";

$spacing-6: 8rem;
$spacing-5: 4rem;
$spacing-4: 2rem;
$spacing-3: 1rem;
$spacing-2: 0.5rem;
$spacing-1: 0.25rem;
$spacing-0: 0;

$page-spacing: $spacing-5;

// $grid-1: calc((1/12)*100%);
// $grid-2: calc((2/12)*100%);
// $grid-3: calc((3/12)*100%);
// $grid-4: calc((4/12)*100%);
// $grid-5: calc((5/12)*100%);
// $grid-6: calc((6/12)*100%);
// $grid-7: calc((7/12)*100%);
// $grid-8: calc((8/12)*100%);
// $grid-9: calc((9/12)*100%);
// $grid-10: calc((10/12)*100%);
// $grid-11: calc((11/12)*100%);
// $grid-12: 100%;

$animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);

// Typography

$base-font-family:"Founders Grotesk", sans;
$headline-font-family:"Founders Grotesk", sans;
$system-font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$base-font-size:16; // in px
$base-line-height:1.5;