* {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

.off {
  display: none; }

body {
  font: 14px/1 "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #4a5059;
  background: #F5F4F1 url("../images/bg-blur.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.row {
  width: 100%;
  display: table;
  table-layout: fixed; }

.col {
  display: table-cell; }

a, li {
  -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1); }

svg {
  color: inherit;
  fill: currentColor; }

h1 {
  font-size: 200%;
  line-height: 105%;
  font-weight: 400;
  color: black; }

h2 {
  font-size: 130%;
  line-height: 115%;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: #4a5059; }

.topbar {
  position: fixed;
  width: 100%;
  height: 55px;
  background: white;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
  .topbar .logo {
    left: 1.5em;
    width: 40px;
    height: 32px;
    text-indent: -999em;
    display: inline-block;
    background: url("../images/blixlogo.svg") no-repeat;
    background-size: contain;
    padding-bottom: 4px;
    /* optically vertical center the logo */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.account {
  position: absolute;
  right: 1.5em;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30px; }
  .account a {
    float: right;
    height: 100%;
    width: 100%;
    text-align: right;
    color: inherit; }
    .account a:hover {
      color: #ff5500; }
  .account #name {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    margin-right: .5em; }
  .account #avatar {
    float: right;
    height: 30px;
    width: 30px;
    background: url(http://www.fillmurray.com/200/200) center center no-repeat;
    background-size: cover;
    border-radius: 100%; }

.nav {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  max-width: 450px;
  padding: 0 70px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .nav ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    padding: 1px;
    border-radius: 4px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .nav li {
    display: table-cell;
    height: 100%;
    text-align: center;
    border-radius: 2px; }
  .nav a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: .5em 0;
    text-decoration: none;
    letter-spacing: .04em;
    color: rgba(74, 80, 89, 0.5); }
    .nav a:hover {
      color: #4a5059; }
  .nav .selected a {
    color: #ff5500; }
  .nav li.selected {
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .nav .selected:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
  .nav .selected:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

/* .sort {
	position:absolute;
	margin:auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
	height:2.5em;
	}

	.sort ul {
		display: table;
		table-layout: fixed;
		width:100%;
		height:100%;
		}

	.sort li {
		display: table-cell;
		height:100%;
		text-align: center;
		border-bottom:1px solid rgba(0,0,0,.1);
		}

	.sort a {
		display:block;
		width:100%;
		height:100%;
		padding:1.25em 0;
		text-decoration: none;
		color:transparentize($color-darkgrey, .5);
		letter-spacing: .04em;
		}

		.sort a:hover {
			color:$color-darkgrey;
		}

	.sort .selected a {
		color:$color-blixorange;
		}

	.sort li.selected {
		color:$color-blixorange;
		border-bottom:1px solid $color-blixorange;
		}
		*/
.search, .selectbar {
  position: fixed;
  z-index: 1000;
  top: 55px;
  left: 0;
  width: inherit;
  min-width: inherit;
  max-width: inherit;
  background: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.selectbar {
  border: none;
  z-index: 0;
  display: none; }
  .selectbar.on {
    z-index: 1001;
    display: block; }
  .selectbar a {
    display: inline-block;
    padding: .8em 0;
    text-decoration: none;
    color: #ff5500;
    font-size: 16px; }
    .selectbar a.cancel {
      float: left;
      margin-left: 1em; }
    .selectbar a.selectall {
      float: right;
      margin-right: 1em; }

.list .actionbar {
  top: auto;
  bottom: 0;
  height: 55px;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: white; }
  .list .actionbar .share {
    display: inline-block;
    float: right;
    margin-right: 1em;
    background: white;
    height: 100%;
    width: 55px;
    overflow: hidden; }

.search ~ ul > li.row:first-child {
  margin-top: 5.6em;
  /* estimated height of the search box - this will need to be calculated in JS, since the height can change if tags wrap to two lines */ }

.sectionheader {
  padding: .3em 0 .7em 0;
  letter-spacing: .04em; }
  .sectionheader a {
    text-decoration: none;
    color: #4a5059; }
  .sectionheader .sort {
    float: left;
    margin-left: 1em;
    background: transparent url("../images/triangle.svg") right center no-repeat;
    padding-right: 1em; }
  .sectionheader .select {
    float: right;
    margin-right: 1em;
    color: #ff5500; }

section.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 55px; }

.tags {
  list-style-type: none;
  padding: .5em 1em;
  overflow-x: hidden;
  color: #4a5059; }
  .tags li {
    display: inline-block;
    margin: .25em .125em .25em 0;
    max-width: 80%;
    /* rough estimate for older browsers */
    max-width: calc(100% - 3em);
    /* exact number for modern browsers */ }
    .tags li a {
      display: inline-block;
      padding: .5em .75em;
      background: white;
      border-radius: 2px;
      max-width: 100%;
      letter-spacing: .03em;
      font-weight: 400;
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      color: inherit;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
      .tags li a:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
      .tags li a:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
      .tags li a span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%; }
    .tags li.tag a, .tags li.category a {
      background: white url("../images/icon-x.svg") right 0.7em center no-repeat;
      padding-right: 2em;
      color: inherit; }
    .tags li.tag:active {
      display: none;
      /* this is only here to show that clicking should remove a tag */ }
  .tags #addfilters a {
    box-shadow: none;
    background: transparent;
    background: rgba(0, 0, 0, 0.05);
    color: rgba(74, 80, 89, 0.5); }
    .tags #addfilters a:hover {
      color: #4a5059; }

.sidebar {
  position: absolute;
  overflow: scroll;
  z-index: 900;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  min-width: 320px;
  max-width: 450px;
  background: #fafafa;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }
  .sidebar li {
    position: relative; }
    .sidebar li .check {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 1em;
      width: 16px;
      height: 16px;
      background: transparent;
      border-radius: 100%;
      border: 1px solid rgba(74, 80, 89, 0.3);
      opacity: 0;
      visibility: hidden; }
    .sidebar li.row.selected {
      background: rgba(0, 0, 0, 0.05); }
      .sidebar li.row.selected .check {
        background: #ff5500 url("../images/check.svg") center center no-repeat;
        background-size: 75%;
        border-color: #ff5500; }

.list.select a.card {
  padding: 1.5em 1.5em 1.5em 3em; }
.list.select li .check {
  opacity: 1;
  visibility: visible; }

a.card {
  display: block;
  overflow: auto;
  zoom: 1;
  padding: 1.5em;
  text-decoration: none;
  color: #4a5059; }
  a.card:hover, .hovered a.card.card {
    background: rgba(0, 0, 0, 0.05); }
  a.card .image {
    float: left;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 60px;
    background: rgba(74, 80, 89, 0.2);
    border-radius: 4px; }
    a.card .image.placeholder:after {
      content: "";
      position: absolute;
      left: 20px;
      top: 14px;
      right: 20px;
      bottom: 26px;
      border-radius: 100%;
      z-index: 900; }
    a.card .image img {
      max-width: 100%;
      position: relative;
      z-index: 901; }
  a.card .content {
    margin-left: 70px;
    /* this is clunky. if the thumbnail size changes, this number will need to change, too. do something more elegant here. Maybe needs JS? */ }

.location {
  margin-top: .25em;
  font-size: 87.5%;
  font-weight: 400;
  letter-spacing: .04em; }

.meta {
  margin-top: .25em;
  font-size: 75%;
  letter-spacing: .04em;
  color: rgba(74, 80, 89, 0.5); }
  .meta span {
    position: relative; }
  .meta span + span {
    margin-left: .1em;
    padding-left: .7em; }
  .meta span + span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    /* vertically center dot */
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background: rgba(74, 80, 89, 0.5); }
  .meta .privacy path {
    color: inherit;
    fill: currentColor; }
  .meta .privacy svg {
    display: inline-block;
    position: relative;
    top: 2px;
    overflow: visible;
    height: 1em;
    width: 1em;
    margin-right: .4em; }

.cat-foodanddrink .category, .cat-foodanddrink {
  color: #FF7D32; }

.map .pin.cat-foodanddrink, .cat-foodanddrink .image:after {
  background: #FF7D32; }

.cat-outdoors .category, .cat-outdoors {
  color: #3DD439; }

.map .pin.cat-outdoors, .cat-outdoors .image:after {
  background: #3DD439; }

.cat-people .category, .cat-people {
  color: #2A4CA7; }

.map .pin.cat-people, .cat-people .image:after {
  background: #2A4CA7; }

.cat-poi .category, .cat-poi {
  color: #9F3BE4; }

.map .pin.cat-poi, .cat-poi .image:after {
  background: #9F3BE4; }

.cat-shopping .category, .cat-shopping {
  color: #EB1F3F; }

.map .pin.cat-shopping, .cat-shopping .image:after {
  background: #EB1F3F; }

.cat-travel .category, .cat-travel {
  color: #1DADC1; }

.map .pin.cat-travel, .cat-travel .image:after {
  background: #1DADC1; }

.categorydot {
  display: inline-block;
  overflow: hidden;
  width: 8px;
  height: 8px;
  top: 1px;
  text-indent: 999em;
  border-radius: 100%; }

.map {
  position: absolute;
  z-index: 1;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9EC3FF url("../images/map.jpg") center center no-repeat;
  background-size: cover; }

.peek {
  position: absolute;
  top: 50%;
  left: 50%; }
  .peek a, .peek a:hover {
    width: 320px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
    .peek a:hover, .peek a:hover:hover {
      background: white;
      box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2); }

.pin, .button-create {
  position: absolute;
  display: block;
  border-radius: 100%;
  text-align: center;
  color: inherit; }
  .pin span, .button-create span {
    display: inline-block;
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    white-space: nowrap;
    padding: .5em .75em;
    background: white;
    border-radius: 2px;
    font-weight: 400;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    transform-origin: 50% 80%; }
  .pin span:after, .button-create span:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -8px;
    left: 50%;
    margin-left: -8px; }
  .pin:hover span, .pin.hovered span, .button-create:hover span, .button-create.hovered span {
    bottom: 14px;
    opacity: 1;
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1); }
  .pin:hover, .pin.hovered, .button-create:hover, .button-create.hovered {
    z-index: 100; }

.pin {
  /* This is for the prototype only. Potision should be set per unique pin */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  border: 3px solid white;
  width: 14px;
  height: 14px;
  top: 25%;
  left: 50%; }

.pin2 {
  top: 25.4%;
  left: 50.4%; }

.button-create {
  background: white;
  top: 1em;
  right: 1em;
  height: 4.5em;
  width: 4.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
  .button-create span {
    left: auto;
    bottom: auto;
    top: 28%;
    right: -1em;
    transform-origin: 100% 50%; }
    .button-create span:after {
      border-top: 8px solid transparent;
      border-left: 8px solid white;
      border-bottom: 8px solid transparent;
      border-right: none;
      bottom: auto;
      left: auto;
      right: -8px;
      margin-left: auto;
      display: none; }
  .button-create:hover span {
    bottom: auto; }
  .button-create .svg {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .button-create .svg path {
      fill: rgba(74, 80, 89, 0.5);
      -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
      transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1); }
  .button-create:hover {
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2); }
    .button-create:hover .svg path {
      fill: #ff5500; }

.detail {
  opacity: 0;
  z-index: -100;
  position: absolute;
  overflow: scroll;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1); }
  .detail .bg-dark {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: rgba(74, 80, 89, 0.9); }
    .detail .bg-dark:hover {
      cursor: zoom-out; }
  .detail.show {
    z-index: 10000;
    opacity: 1; }
  .detail .wrap {
    top: 100%;
    left: 50%;
    width: 100%;
    max-width: 700px;
    position: relative;
    background: #fafafa;
    border-radius: 4px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    transition: none;
    -webkit-transform: translate(-50%, 0%) scale(1);
    transform: translate(-50%, 0%) scale(1);
    transform-origin: 50% 50%; }
  .detail.show .wrap {
    top: 75px;
    margin-bottom: 55px;
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: translate(-50%, 0%) scale(1);
    transform: translate(-50%, 0%) scale(1); }
  .detail .content {
    padding: 1.5em; }
    .detail .content:hover {
      cursor: auto; }
    .detail .content .location {
      font-size: 100%; }
    .detail .content .tags {
      padding-left: 0;
      margin-top: 1em; }
    .detail .content .notes {
      margin: 1em 0; }
  .detail .images {
    margin: auto -1.5em; }
    .detail .images img {
      width: 100%;
      margin-bottom: 1.5em; }

.actionbar {
  position: relative;
  top: 0;
  left: 0;
  height: 54px;
  width: 100%;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 0 0; }
  .actionbar a {
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    color: rgba(74, 80, 89, 0.5); }
    .actionbar a:hover {
      color: #4a5059; }
    .actionbar a path {
      color: inherit;
      fill: currentColor; }
    .actionbar a svg {
      display: inline-block;
      position: relative;
      height: 25px;
      width: 24px; }
  .actionbar .meta {
    margin-top: 0;
    font-size: 14px;
    left: 1.5em;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute; }
  .actionbar .actions {
    right: 1em;
    display: table;
    height: 100%;
    position: absolute; }
    .actionbar .actions > span {
      display: table-cell;
      vertical-align: middle; }
      .actionbar .actions > span + span {
        padding-left: .75em; }
    .actionbar .actions .favorite svg {
      margin-top: .2em; }
  .actionbar .save a {
    padding: 10px 15px;
    color: white;
    background: #ff5500;
    position: relative;
    padding-left: 36px;
    font-weight: 500; }
    .actionbar .save a:before {
      content: "";
      background: transparent url("../images/icon-save-white.svg") center center no-repeat;
      background-size: contain;
      left: 10px;
      width: 18px;
      height: 22px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute; }
    .actionbar .save a:hover {
      color: white;
      background: #e64d00; }

.sidebar .actionbar {
  position: fixed;
  top: auto;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
  bottom: 0;
  display: none;
  z-index: -1;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .sidebar .actionbar.on {
    display: block;
    z-index: 1000; }
  .sidebar .actionbar ~ .list .row:last-child {
    margin-bottom: 4em; }

.share .sidebar {
  position: relative;
  width: 100%;
  left: auto;
  margin: 0 auto;
  padding-top: 3em;
  overflow: visible;
  border-radius: 2px;
  height: auto; }
  .share .sidebar .actionbar, .share .sidebar .selectbar {
    left: auto;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

@media all and (max-width: 760px) {
  .account #name {
    display: none; }

  .actionbar .actions .save a span {
    display: none; }

  .detail.show .wrap {
    top: 0;
    margin-bottom: 0px; }

  .list {
    max-width: 100%;
    width: 100%; }

  .container {
    margin: 2em auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 2px; }

  .download {
    position: absolute;
    display: none;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center; }

  .download .logo, .download p, .download .button {
    margin: 3em auto 0 auto; }

  .download .button {
    position: relative;
    z-index: 10001;
    display: block;
    width: 135px;
    height: 40px; } }

/*# sourceMappingURL=style.css.map */
