<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div data-barba="wrapper">
      {% include header.html %}
      <main class="main home" data-barba="container" data-barba-namespace="home" data-background="{{ page.background-color | default: 'rgba(0,0,0,1)' }}">
        <div id="page-{{ current }}">
          <section id="content">
            {{ content }}
            {% include template-more-projects.html %}
            {% include footer.html %}
          </section>
        </div>
      </main>
      <div class="loader"></div>
    </div>
    {% include scripts.html %}
  </body>
</html>