<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="m-scene" id="main">
      <main id="page-{{ current }}" data-background="{{ page.background-color | default: 'rgba(0,0,0,1)' }}">
        {% include header.html %}
        <section id="content" class="scene_element scene_element-fadeIn">
          {{ content }}</div>
          {% include template-moreprojects.html %}
          {% include footer.html %}
        </section>
      </main>
      <div class="transition-background"></div>
    </div>
    {% include scripts.html %}
  </body>
</html>